body {
	font-family: Arial, Helvetica, sans-serif !important;
	background-color: #e9eaed !important;
	font-size: 12px !important;
}

.btn {
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 0 10px !important; 
	border-radius: 2px !important;
}

.btn:focus {
	box-shadow: none !important;
}

.btn-primary {
	background-color: #4080ff !important;
	height: 28px !important;
}

.btn-primary:hover {
	background-color: #29487d !important;
}

.btn-secondary {
	background-color: #f6f7f9 !important;
	border-color: #ced0d4 !important;
	color: #555963 !important;
	height: 28px !important;
	
}

.btn-secondary:hover {
	background-color: #ebedf0 !important;
}

.btn-success {
	background-color: #42b72a !important;
	border-color: #42b72a !important;
}

.fa {
	align-self: center;
}

.mb-15 {
	margin-bottom: 15px;
}

/* -- NAVBAR --*/
.fb-nav {
	background-color: #3b5998;
	height: 42px;
}

.nav-item {
	font-weight: bold;
}

.facebook-logo {
	margin-right: 5px;
}

.navbar-search-input {
	border-radius: 2px 0 0 2px !important;
	border: none !important;
	height: 24px !important;
	width: 400px !important;
	font-size: 12px !important;
}

.navbar-search-button {
	border-radius: 0 2px 2px 0 !important;	
	border: none !important;
	padding: 0 14px !important;
	height: 24px !important;
	width: 46px !important;
}

.avatar {
	height: 24px;
    width: 24px;
}
/* -- NAVBAR --*/

/* -- SIDE BAR --*/
.side-nav {
	position: fixed;
	z-index: 1;
	width: 170px;
}

@media only screen and (max-width: 768px) {
	.side-nav {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.side-nav {
		transform: scale(0.9);
		will-change: transform;
		top: 10px;
	}
}

.side-nav .avatar-big {
	border: 1px solid #dadde1 !important;
	border-radius: 4px;
	margin: 15px 0;
	height: 170px;
	width: 170px;
}

.side-nav .page-name {
	font-size: 24px !important;
	margin-bottom: 0;
}

.side-nav .page-username {
	color: #98949c;
	font-weight: bold;
	font-size: 14px !important;
}

.side-nav .fa-check-circle {
	color: #7f7f7f;
	margin-left: 7px;
    font-size: 25px !important;
}

.side-nav .nav-pills .nav-link{
	font-size: 14px;
	color: #4b4f56;
}

.side-nav  .nav-pills .nav-link:hover {
    background-color: #dee0e3 !important;
}

.side-nav .nav-pills .nav-link.active {
    background-color: #dee0e3 !important;
    border-left: 4px solid #4267b2;
    border-radius: 0;
    color: #000 !important;
    font-weight: bold;
}

.side-nav .create-page-btn {
	position: relative;
	margin: 15px 0 0 15px;
	height: 24px;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}
/* -- SIDE BAR --*/

/* -- RIGHT COLUMN -- */
/* -- HEADER/BANNER --*/
.header {
	background-image: url('/images/header.jpg'); 
	background-size: cover; 
	height: 312px; 
	width: 100%;
}

.navbar-2 {
	height: 52px !important;
}

.button-icon {
	margin-right: 3px;
	width: 15px;
	height: 15px;
}

.btn-group-1 {
	max-width: 286px;
	width: 286px;
}

.contact-us-btn {
	font-size: 14px !important;
	font-weight: bold !important;
	width: 286px;
}
/* -- HEADER/BANNER --*/

/* -- ADD POST SECTION -- */
.add-post-section .navbar-3 {
	background-color: #f6f7f9 !important;
	border-radius: 4px 4px 0px 0px !important;
	border-bottom: 1px solid #e9eaed;
	height: 34px !important;
	padding: 0 5px !important;
}

.add-post-section .button-icon {
	width: 24px;
	height: 24px;
	border-radius: 5px;
}

.add-post-section .navbar-3 .btn {
	color: #365899 !important;
}

.add-post-section .navbar-3 .btn.active {
	color: #4a4e58 !important;
}

.add-post-section .post-text-area {
	cursor: text;
	border: none;
	border-radius: 0 0 4px 4px;
	padding: 30px 40px 10px 90px;
	font-size: 12px;
	resize: none;
}

.add-post-section .post-text-area:focus {
	box-shadow: none;
}

.add-post-section .text-area-image {
	position: absolute;
	border: 1px solid #f8f8f9;
	border-radius: 0;
	margin: 15px;
	width: 56px;
	height: 56px;
}
/* -- ADD POST SECTION -- */

/* -- SINGLE POST -- */
.posts .post-wrapper {
	display: block;
	background-color: #fff;
	padding: 12px 12px 0;
	border-radius: 2px 2px 0 0;
}

.posts .media {
	display: block;
	margin-bottom: 5px;
}

.posts .post-avatar {
	border: 1px solid #e6e6e6;
	margin-right: 8px;
	height: 56px;
	width: 56px;
}

.posts .post-title {
	color: #365899;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 2px;
}

.posts .post-time {
	color: #616770;
	font-size: 12px;
}

.posts .post-description {
	font-size: 14px;
}

.posts .post-image-wrapper {
	border: 1px solid #e9ebee;
	box-shadow: 0 2px 4px -2px #e9ebee;
}

.posts .post-image {
	width: 100%;
	height: 
}

.posts .image-details {
	padding: 12px 12px;
}

.posts .image-title {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.posts .image-title:hover {
	color: #000;
	text-decoration: none;
}

.posts .image-description {
    display: -webkit-box;
    cursor: pointer;
	font-size: 12px;
	overflow: hidden;
    text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
}

.posts .image-author {
	color: #93949f;
	text-transform: uppercase;
	font-size: 11px;
}

.posts .image-author:hover {
	color: #93949f;
}

.posts .social-button-wrapper {
	margin-top: 15px;
	border-top: 1px solid #e6e6e6;
}

.posts .social-btn-group {
	margin: 5px 0 5px;
}

.posts .social-button {
	color: #7f7f7f !important;
}

.posts .comment-section {
	background-color: #f6f7f9;
	padding: 10px 15px;
	border-top: 1px solid #dfe0e4;
	border-radius: 0 0 2px 2px;
}

.posts .comment-avatar {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.posts .comment-input {
	cursor: text;
	margin-left: 10px;
	font-size: 12px !important;
}

.posts .comment-input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
	border-right: none;
}

.posts .comment-button {
	background-color: #fff !important;
	border: 1px solid #ced4da !important;
	border-left: none !important;
	color: #bfbfbf !important;
}

.posts .comment-button:hover {
	color: #000 !important;
}
/* -- SINGLE POST -- */

/* -- RIGHT COLUMN -- */

/* RATING CARD */
.rating-card {
	background-color: #fff;
	border-radius: 2px;
	padding: 12px;
}

.rating-card span {
	font-size: 14px;
}

.rating-card .rating {
	color: #4080ff;
	font-size: 16px;
}

.rating-card .fa-star {
	color: #bec2c9;
}

.rating-card .fa-star.checked {
	color: #4080ff;
}
/* RATING CARD */

/* SEARCH POSTS */
.post-search {
	display: block;
	border: none;
}

.post-search-btn {
	background-color: #fff !important;
	color: #92969d !important;
	border: none !important;
	border-radius: 2px !important;
}

.post-search input {
	border-left: none !important;
	border: none !important;
	font-size: 14px;
	border-radius: 2px !important;
}

.post-search-btn:focus,
.post-search input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}

/* SEARCH POSTS */
