body {
	font-family: Arial, Helvetica, sans-serif !important;
	background-color: #e9eaed !important;
	font-size: 12px !important;
}

.btn {
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 0 10px !important; 
	border-radius: 2px !important;
}

.btn:focus {
	box-shadow: none !important;
}

.btn-primary {
	background-color: #4080ff !important;
	height: 28px !important;
}

.btn-primary:hover {
	background-color: #29487d !important;
}

.btn-secondary {
	background-color: #f6f7f9 !important;
	border-color: #ced0d4 !important;
	color: #555963 !important;
	height: 28px !important;
	
}

.btn-secondary:hover {
	background-color: #ebedf0 !important;
}

.btn-success {
	background-color: #42b72a !important;
	border-color: #42b72a !important;
}

.btn-group .btn:hover {
	background-color: #e5e6e9;
}

.list-group-item {
	padding: 10px 10px !important;
}

.card-header {
	background-color: #f6f7f9 !important;
	text-transform: uppercase;
	color: #4b4f56;
	font-weight: bold;
	font-size: 11px;
}

.card-body {
	border-bottom: 1px solid #e5e6e9 !important;
	padding: 10px 15px !important;
}

.card-body:last-child {
	border-bottom: unset !important;
}

.media {
	align-items: center !important;
}

.media .media-body {
	margin-left: 10px;
}

.input-group {
	align-items: center !important;
}


.rating-rounded-sm {
	color: #fff;
	font-size: 10px;
	background-color: #4080ff;
	border-radius: 10px;
	padding: 2px 8px;
}

.rating-rounded-md {
	color: #fff;
	font-size: 16px;
	background-color: #4080ff;
	border-radius: 14px;
	padding: 2px 10px;
}

.avatar-sm {
	display: inline-block;
	height: 24px;
    width: 24px;
}

.avatar-md {
	display: inline-block;
	border-radius: 4px;
	width: 30px;
	height: 30px;
}

.avatar-lg {
	display: inline-block;
	border: 1px solid #e6e6e6;
	/*border-radius: 4px;*/
	height: 40px;
	width: 40px;
}

.avatar-xl {
	display: inline-block;
	border: 1px solid #e6e6e6 !important;
	border-radius: 4px;
	margin: 15px 0;
	height: 170px;
	width: 170px;
}

.fa {
	align-self: center;
}

.mb-15 {
	margin-bottom: 15px;
}

/* -- NAVBAR --*/
.fb-nav {
	background-color: #3b5998;
	height: 42px;
}

.fb-nav .nav-item {
	font-weight: bold;
}

.fb-nav .nav-item .nav-link {
	color: #fff;
	border-radius: 4px;
	font-weight: bold;
	padding: 5px 10px;
}

.fb-nav .nav-item .nav-link.dropdown-toggle {
	color: #17233d;
}

.fb-nav .nav-item .dropdown-menu .dropdown-item {
	font-size: 12px;
}

.fb-nav .nav-item .dropdown-menu .dropdown-item:hover {
	background-color: #4267b2;
	color: #fff;
	text-decoration: none;
}


.fb-nav .nav-item .nav-link:hover {
	background: rgba(0, 0, 0, .1);
	color: #fff;
	font-weight: bold;
}

.fb-nav ul.nav-div {
	/*margin-left: 5px;*/
	/*margin-right: 5px;*/
}

.fb-nav .nav-item .nav-link .badge-secondary {
	background-color: #29487d !important;
}

.fb-nav .nav-link.divider {
	/*background: rgba(0, 0, 0, .1);*/
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.fb-nav .nav-div:before {
	background: rgba(0, 0, 0, .1);
	content: '';
    display: block;
    height: 18px;
    left: -1px;
    position: absolute;
    top: 12px;
    width: 1px;
}

.fb-nav ul.nav-div {
	margin-left: 10px;
}

.fb-nav ul.nav-div {
	margin-left: 10px;
}

.fb-nav .facebook-logo {
	margin-right: 5px;
}

.fb-nav .navbar-search-input {
	border-radius: 2px 0 0 2px !important;
	border: none !important;
	height: 24px !important;
	width: 400px !important;
	font-size: 12px !important;
}

.fb-nav .navbar-search-button {
	border-radius: 0 2px 2px 0 !important;	
	border: none !important;
	padding: 0 14px !important;
	height: 24px !important;
	width: 46px !important;
}


/* -- NAVBAR --*/

/* -- SIDE BAR --*/
.side-nav {
	position: fixed;
	z-index: 1;
	width: 170px;
}

.side-nav .page-name {
	font-size: 24px !important;
	margin-bottom: 0;
}

.side-nav .page-username {
	color: #98949c;
	font-weight: bold;
	font-size: 14px !important;
}

.side-nav .fa-check-circle {
	color: #7f7f7f;
	margin-left: 7px;
    font-size: 25px !important;
}

.side-nav .nav-pills .nav-link{
	font-size: 14px;
	color: #4b4f56;
}

.side-nav  .nav-pills .nav-link:hover {
    background-color: #dee0e3 !important;
}

.side-nav .nav-pills .nav-link.active {
    background-color: #dee0e3 !important;
    border-left: 4px solid #4267b2;
    border-radius: 0;
    color: #000 !important;
    font-weight: bold;
}

.side-nav .create-page-btn {
	position: relative;
	margin: 15px 0 0 15px;
	height: 24px;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}
/* -- SIDE BAR --*/

/* -- RIGHT COLUMN -- */
/* -- HEADER/BANNER --*/
.header {
	background-image: url('/images/header.jpg'); 
	background-size: cover; 
	height: 312px; 
	width: 100%;
}

.navbar-2 {
	padding: 10px !important;
}

.button-icon {
	margin-right: 3px;
	width: 15px;
	height: 15px;
}

.btn-group-1 {
	max-width: 286px;
	width: 286px;
}

.contact-us-btn {
	font-size: 14px !important;
	font-weight: bold !important;
	width: 286px;
}
/* -- HEADER/BANNER --*/

/* -- ADD POST SECTION -- */
.add-post-section .navbar-3 {
	background-color: #f6f7f9 !important;
	border-radius: 4px 4px 0px 0px !important;
	border-bottom: 1px solid #e9eaed;
	height: 34px !important;
	padding: 0 5px !important;
}

.add-post-section .button-icon {
	width: 24px;
	height: 24px;
	border-radius: 5px;
}

.add-post-section .navbar-3 .btn {
	color: #365899 !important;
}

.add-post-section .navbar-3 .btn.active {
	color: #4a4e58 !important;
}

.add-post-section .post-text-area {
	cursor: text;
	border: none;
	border-radius: 0 0 4px 4px;
	padding: 30px 40px 10px 90px;
	font-size: 12px;
	resize: none;
}

.add-post-section .post-text-area:focus {
	box-shadow: none;
}

.add-post-section .text-area-image {
	position: absolute;
	border: 1px solid #f8f8f9;
	border-radius: 0;
	margin: 15px;
	width: 56px;
	height: 56px;
}
/* -- ADD POST SECTION -- */

/* -- SINGLE POST -- */
.posts .post-wrapper {
	display: block;
	background-color: #fff;
	padding: 12px 12px 0;
	border-radius: 2px 2px 0 0;
}

.posts .media {
	margin-bottom: 10px;
}

.posts .post-title {
	color: #365899;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 4px;
}

.posts .post-time {
	color: #616770;
	font-size: 12px;
}

.posts .post-description {
	font-size: 14px;
}

.posts .post-image-wrapper {
	border: 1px solid #e9ebee;
	box-shadow: 0 2px 4px -2px #e9ebee;
}

.posts .post-image {
	width: 100%;
	height: 
}

.posts .image-details {
	padding: 12px 12px;
}

.posts .image-title {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.posts .image-title:hover {
	color: #000;
	text-decoration: none;
}

.posts .image-description {
    display: -webkit-box;
    cursor: pointer;
	font-size: 12px;
	overflow: hidden;
    text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
}

.posts .image-author {
	color: #93949f;
	text-transform: uppercase;
	font-size: 11px;
}

.posts .image-author:hover {
	color: #93949f;
}

.posts .social-button-wrapper {
	margin-top: 15px;
	border-top: 1px solid #e6e6e6;
}

.posts .social-btn-group {
	margin: 5px 0 5px;
}

.posts .social-button {
	color: #7f7f7f !important;
}

.posts .social-button span {
	vertical-align: middle;
}

.posts .comment-section {
	background-color: #f6f7f9;
	padding: 10px 15px;
	border-top: 1px solid #dfe0e4;
	border-radius: 0 0 2px 2px;
}

.posts .comment-input {
	cursor: text;
	margin-left: 10px;
	font-size: 12px !important;
}

.posts .comment-input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
	border-right: none;
}

.posts .comment-button {
	background-color: #fff !important;
	border: 1px solid #ced4da !important;
	border-left: none !important;
	color: #bfbfbf !important;
	padding: 6px 15px !important;
}

.posts .comment-button:hover {
	color: #000 !important;
}
/* -- SINGLE POST -- */

/* -- RIGHT COLUMN -- */

/* -- RATING CARD -- */
.rating-card {
	background-color: #fff;
	border-radius: 2px;
	padding: 12px;
}

.rating-card span {
	font-size: 14px;
}

.rating-card .rating {
	color: #4080ff;
	font-size: 16px;
}

.rating-card .fa-star {
	color: #bec2c9;
}

.rating-card .fa-star.checked {
	color: #4080ff;
}
/* -- RATING CARD -- */

/* -- SEARCH POSTS -- */
.post-search {
	display: block;
	border: none;
}

.post-search-btn {
	background-color: #fff !important;
	color: #92969d !important;
	border: none !important;
	padding: 10px !important;
	border-radius: 2px 0 0 2px !important;
}

.post-search input {
	border-left: none !important;
	border: none !important;
	height: 100% !important;
	border-radius: 2px !important;
	font-size: 14px;
	padding: 10px;
}

.post-search-btn:focus,
.post-search input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}

/* -- SEARCH POSTS -- */

/* -- REVIEWS -- */
.review-list .review-image {
	/*border: 1px solid #e6e6e6;*/
	height: 40px;
	width: 40px;
}

.review-list .review-count {
	/*color: #365899;*/
	/*font-weight: bold;*/
	font-size: 14px;
	margin-bottom: 5px;
}

.review-list .review-names {
	color: #616770;
}
/* -- REVIEWS -- */

/* -- ABOUT US CARD -- */
.about-card .map {
	width: 100%;
}

.about-card .media {
	margin-bottom: 20px;
}
/* -- ABOUT US CARD -- */
.sticky {
	position: -webkit-sticky;
	position: sticky !important;
	top: 42px;
	/*z-index: 1020;*/
}

.sticky-right {
	position: -webkit-sticky;
	position: sticky !important;
	top: 105px;
	/*z-index: 1020;*/
	float: right;
}

/* -- SHARE OPINIONS CARD -- */
.share-opinion-card .card-body .opinion-header {
	color: #000;
	margin-bottom: 5px;
	font-size: 18px;
}

.share-opinion-card .card-body .opinion-header a {
	color: #000;
	font-weight: bold;
}

.share-opinion-card .card-body .media .media-body .likes-count {
	color: #969aa5;
}

.share-opinion-card .card-body .input-group input {
	border: none;
	cursor: text;
	margin-left: 10px;
	font-size: 12px !important;
}

.share-opinion-card .card-body .input-group input:focus {
	box-shadow: none !important;
}
/* -- SHARE OPINIONS CARD -- */

/* -- PHOTO GALLERY -- */
.photos-card .photo-gallery {
	display: flex;
	padding: 5px;
}

.photos-card .photo-gallery .col-md-4 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.photos-card .photo-gallery .col-md-4.middle {
	padding-right: 5px !important;
	padding-left: 5px !important;
}


.photos-card .photo-gallery .col-md-4 .gallery-photo {
	width: 100%;
	height: 33%;
	padding-top: 5px;
}
/* -- PHOTO GALLERY -- */

/* -- REVIEWS CARD -- */
.reviews-card .card-body .media .avatar-lg {
	align-self: flex-start;
	width: 55px;
	height: 55px;
}

.reviews-card .card-body .media .media-body .btn-group {
	display: block;
	border-top: 1px solid #e6e6e6;
	margin-top: 15px;
	padding: 10px 0 13px 0;
}

.reviews-card .card-body .media .media-body .reviewer-name {
	color: #365899;
	font-weight: bold;
	margin-bottom: 4px;
}

.reviews-card .card-body .media .media-body .rating {
	color: #4080ff;
	font-weight: bold;
	margin-bottom: 4px;
}

.reviews-card .card-body .media .media-body .btn-group .btn {
	color: #7f7f7f !important;
}
/* -- REVIEWS CARD -- */

/* -- LIKED PAGES CARD -- */
.liked-pages-card .media .media-body a.page-name{
	color: #000;
	font-weight: bold;
}

.reviews-card .media-body .rating-count {
	font-weight: bold;
}

.reviews-card .media-body a {
	color: #969aa5;
}

.reviews-card .rating-rounded .fa {
	font-size: 12px;
}
/* -- LIKED PAGES CARD -- */

@media only screen and (max-width: 768px) {
	.side-nav {
		display: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
	.side-nav {
		transform: scale(0.75);
		will-change: transform;
		top: -45px;
	}
}

@media screen and (min-height: 500) and (max-height: 1000px) {
	.side-nav {
		transform: scale(0.8);
		will-change: transform;
		top: -20px;
	}
}